go 1.22

use (
	./go-plinius-common
	./go-autotemp
	./go-obliteratus
	./go-eos
	./go-almeche
	./go-cl4r1t4s
	./go-glossopetrae
	./go-p4rs3lt0ngv3
	./go-st3gg
	./go-g0dm0d3
	./go-v3sp3r
	./go-l1b3rt4s
	./go-leakhub
	./go-v3r1t4s
	./go-i-llm
	./go-basilisktoken
	./go-hypertune
	./go-autostorygen
	./go-dioscuri
	./go-ourobopus
	./go-gitty
	./go-misc-prompthacks
	./go-autoredteam
	./go-gandalf-solutions
	./go-leda
	./go-mixtral-prompt-leak
	./go-grok-prompt-leak
	./go-gemini-prompt-leak
	./go-theseus
	./go-bing-prompt-leak
	./go-gitgpt
	./go-tempest
)
